<!-- TODO: change view name -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css">
    <title>Welcome in da Club</title>
  </head>
  <body>
    <h1>Welcome In Da Club</h1>
    <header>
      <%- include("partials/welcome") %>
      <%if (user && user.status === "guest") { %>
        <p>
          You are only guest now, but you can change It! Usually, we charge about
          50Cent for one person, but we have made exception for you!
        </p>
      <% } %>
      <div class="header-buttons">
        <% if(user){ %>
          <a class="primary-btn " href="/new-message">Send Message</a>
          <% if (user.status === "guest") { %>
            <span>or</span>
            <a class="primary-btn" href="/join-club">Join Club Now!</a>
          <% } %>
          <span>or</span>
          <a class="secondary-btn" href="/log-out">Log out</a>
          
        <% } %> 
      </div>
    </header>
    
    
      <%- include("partials/messages") %>
  </body>
</html>
