<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/form.css" />
    <link rel="stylesheet" href="/buttons.css" />
  </head>
  <body>
    <h1>Da Club is really special club</h1>
    <p>You need to know super secret password to join it</p>
    <form action="/join-club" method="post">
      <label for="password">
        <p class="label-text">Insert password:</p>
        <input type="password" name="password" id="password" class="field" />
      </label>
      <input type="submit" value="Join Club!" class="primary-btn" />
    </form>
    <%- include("partials/errors") %>
  </body>
</html>
