<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write new message to Da Club</title>
  </head>
  <body>
    <h1>Say something to other people:</h1>
    <form action="/message" method="post">
      <textarea name="text" id="msgTextarea"></textarea>
      <input type="submit" value="Send message" />
    </form>
  </body>
</html>
