<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members | Sign-in</title>
    <link rel="stylesheet" href="/form.css" />
    <link rel="stylesheet" href="/buttons.css" />
  </head>
  <body>
    <h1>Sign in</h1>
    <form action="/sign-in" method="post">
      <label for="fnameInput">
        <p class="label-text">First Name:</p>
        <input class="field" type="text" name="first_name" id="fnameInput" />
      </label>
      <label for="lnameInput">
        <p class="label-text">Last Name:</p>
        <input class="field" type="text" name="last_name" id="lnameInput" />
      </label>
      <label for="emailInput">
        <p class="label-text">Email:</p>
        <input class="field" type="email" name="email" id="emailInput" />
      </label>
      <label for="passwordInput">
        <p class="label-text">Password:</p>
        <input
          class="field"
          type="password"
          name="password"
          id="passwordInput" />
      </label>
      <label for="confirmPasswordInput">
        <p class="label-text">Confirm password:</p>
        <input
          class="field"
          type="password"
          name="confirmPassword"
          id="confirmPasswordInput" />
      </label>
      <label for="adminCheckbox">
        <p class="label-text">Become an admin?</p>
        <div class="checkbox-wrapper">
          <input type="checkbox" name="admin" id="adminCheckbox" hidden />
          <div class="checkbox-btn"></div>
        </div>
      </label>
      <div class="form-buttons">
        <input class="primary-btn" type="submit" value="Sign in" />
        <a class="secondary-btn" href="/">Cancel</a>
      </div>
    </form>
    <%- include("partials/errors") %>
  </body>
</html>
