<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members | Sign-in</title>
  </head>
  <body>
    <h1>Sign in</h1>
    <form action="/sign-in" method="post">
      <label for="fnameInput">First Name: </label>
      <input type="text" name="first_name" id="fnameInput" />
      <br />
      <label for="lnameInput">Last Name:</label>
      <input type="text" name="last_name" id="lnameInput" />
      <br />
      <label for="emailInput">Email:</label>
      <input type="email" name="email" id="emailInput" />
      <br />
      <label for="passwordInput">Password:</label>
      <input type="password" name="password" id="passwordInput" />
      <br />
      <input type="submit" value="Sign in" />
      <a href="/">Cancel</a>
    </form>
    <%- include("partials/errors") %>
  </body>
</html>
