<!-- TODO: index view -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome in da Club</title>
  </head>
  <body>
    <h1>Welcome In Da Club</h1>
    <p>
      Usually, we charge about 50Cent for one person, but we have made exception
      for you!
    </p>
    <a href="/join-club">Join Club Now!</a>
  </body>
</html>
