<% if(locals.messages){ %>
<ul>
  <% messages.forEach(message => { %>
  <li>
    <% if (user && user.status !== "guest") { %>
     <p><b><%- message.author %></b></p>
    <% } %>
    <p><%- message.sent_date %></p>
    <p><%- message.text %></p>
    <br />
    <% if (user && user.status === "admin") { %>
    <a href="/message/<%- message.id %>/delete">Delete message</a>
    <% } %>
  </li>
  <% }) %>
</ul>
<% } %>
