<% if(locals.messages){ %>
<ul class="message-list">
  <% messages.forEach(message => { %>
  <li class="message">
    <div class="message-info">
      <p>
        Message from:
        <% if (user && user.status !== "guest") { %>
          <b><%- message.author %></b>
        <% }else{ %>
          ...
        <%} %>
      </p>
      <p><%- message.sent_date.toDateString() %></p>
      
    </div>
    <p><%- message.text %></p>
    <br />
    <% if (user && user.status === "admin") { %>
      <a class="warning-btn" href="/message/<%- message.id %>/delete">Delete message</a>
    <% } %>
  </li>
  <% }) %>
</ul>
<% } %>
