<% if (!locals.user) { %>
    <p>You aren't participant of our club. Come on and join in da club to send messages. You have to become a member to see authors of other messages. To become a member you have to know an artist who made “In Da Club” song.</p>
    <div class="header-buttons">
        <a class="primary-btn" href="/sign-in">Join now!</a>
        <span>or</span>
        <a href="/log-in" class="secondary-btn">Log in</a>
    </div>
<% } %>