@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
body {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 5rem;
}
h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 2em;
}
header {
  text-align: center;
  line-height: 2em;
  max-width: 768px;
  margin: 0 auto;
}
header p {
  max-width: 625px;
  margin: 0 auto;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25em;
  margin-top: 2.75em;
}

/* or element */
.header-buttons span {
  text-transform: uppercase;
  font-weight: 300;
}

.message-list {
  list-style-type: none;
}

.message {
  border: 1px solid black;
  box-shadow: 10px 10px 0px black;
  margin: 2rem 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1em;
}

.message-info {
  background-color: hsl(60, 91%, 66%);
  display: flex;
  justify-content: space-between;
  line-height: 3em;
  padding: 0px 1em;
  border-bottom: 1px solid black;
}
.message > p {
  margin: 1em;
  margin-bottom: 0px;
}

.message .warning-btn {
  align-self: flex-end;
}
